/* 
Alif Rahman
IntrocS pd05 sec08
HW #3
2021-2-9 
*/

h1 {
    color: #49EBB2;
}

h2 {
    color: red;
}

h3 {
    color: yellow;
}
h4 {
    color: green;
}
  
body {
  background-color: black;
}
  
