/* 
Alif Rahman
IntrocS pd05 sec08
HW #5
2021-2-19 
*/

h1 {
    font-size: 30px;
    color: blue;
}

h2 {
    color: red;
}

h3 {
    color: yellow;
}
h4 {
    color: green;
}
  
body {
  margin-left: 125px;
  margin-right: 125px;
  background-color: AliceBlue;
}
  
